<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>{{title}}
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg"> 
          <div class="row">
            <div class="col-sm-12">
              
            
            </div>
          </div>
        </div>
      </div>
    </div> 
     
</div>
  </div>

<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
            <form class="form-signin" method="POST" action="/admin/addauthor" class="form-group login-content" >

                  
                  <input type="text" name="name"  id="name" class="form-control" placeholder="Name" required autofocus>
                  <br><label for="error1" id="error1"></label>
                  <input type="date" name="born" id="born" class="form-control" placeholder="Born" required>
                  <label for="image"  id="Image"></label>
                  <input type="file" name="image" id="image" class="form-control" placeholder="Image" required>
                  <br>
                  <label for="error2" id="error2"></label>
                  <button class="btn btn-lg btn-primary btn-block" type="submit" >Add Author</button>
                  <br>
                  
                </form>
          
          
          
          

        
          
     </div>
      </div>
                                
	                                                
                                                      
   	</div><!--/col-12-->
</div>
</div>